
.s-wrap-info-user{
    display: flex;
    height: 100px;
    align-items: center;
    margin-top: 5px;
    position: relative;
}

.s-wrap-info-user div:nth-child(1) {
    width: 20%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrap-info-user div:nth-child(1) img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
   
}

.s-wrap-info-user div:nth-child(2){
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}


.s-wrap-info-user div h3 {
    margin-left: 10px;
    color: var(--header--color);
    
}

.s-wrap-btns{
    width: 40%;
    height: 50%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: block;
}

.s-wrap-info-user div:nth-child(3) > div {
    width: 100%;
    height: 70%;
}

#btn-change-img {
    background-color: var(--header--color);
    color: white;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

#btn-logout {
    background-color: black;
    color: white;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.s-wrap-info-user span {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 99%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: gray;
    border-radius: 5px;
}

.s-wrap-list-users{
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    border-bottom: 2px white solid;
    position: relative;
    overflow-y: auto;
}

.s-wrap-list-users::-webkit-scrollbar {
    width: 0;
   
}
.s-utente {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.s-utente-img{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-utente-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.s-utente-info {
    padding-left: 10px;
    width: 55%;
}

.s-utente-activity {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-utente-activity .activity {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
}

.activity .online {
    background-color: green;
}

.offline {
    background-color: red;
    color: red;
}

.s-small {
    padding: 0;
    font-size: 14px;
    font-style: oblique;
    color: rgb(63, 61, 61);
}

.s-utente > span {
    position: absolute;
    bottom: -5px;
    width: 98%;
    padding: 2px;
    border-radius: 3px;
    background-color: gray;
} 

.s-wrap-list-users > div:last-of-type > span {
    display: none;
}

.end-list-users {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    background-color: white;
    box-shadow: 0 0 5px 5px snow;
    padding-top: 5px;
}

    /* AREA FORM IMAGINE++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#app-form-area {
    position: absolute;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#app-form-area #icon-close-form-img{
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    height: 30px;
    width: 30px;
    background-color: var(--header--color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 5px;
    transition: all 0.6s ease;
    position: absolute;
    right: 5px;
    top: 5px;
}

#app-form-area #icon-close-form-img:hover {
    color: var(--header--color);
    background-color: whitesmoke;
}

.img-form-container {
    height: 60%;
    width: 70%;
    background-color: whitesmoke;
    position: relative;
}

.wrap-img-form-img {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.wrap-img-form-img img {
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.wrap-upload {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 40px;
   
}


input[type=file]{
    z-index: 1;
    position: absolute;
    left: 50%;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1px;
    transform: translateX(-50%);
    bottom: 0;
}

.wrap-upload label {
    position: absolute;
    left: 50%;
    z-index: 2;
    width: 150px;
    background-color: var(--header--color);
    cursor: pointer;
    padding: 5px;
    color: white;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 5px;
}

.wrap-upload label:hover {
    background-color: yellowgreen;
}

.wrap-btn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrap-btn-img button {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 5px 50px;
    border-radius: 5px;
}

.wrap-btn-img button:active {
    transform: scale(0.98);
}

/*     ++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++ */



@media screen and (min-width: 1000px)  {
    .s-wrap-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #btn-change-img {
        margin-right: 15px;
        height: 50%;
    }

    #btn-logout {
        height: 50%;
    }

    .s-utente-activity .activity {
        height: 25px;
        width: 25px;
    }

}

@media screen and (max-width: 550px) {
 
    .s-wrap-info-user div:nth-child(1) img {
        width: 50px;
        height: 50px;
    }

    .s-utente-img{
        width: 20%;
    }

    
    
}